<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              formControlName="username"
              >
              <span
              class='help-block'
              *ngIf="form.get('userData.username').invalid && form.get('userData.username').touched"
              >
                <span *ngIf="form.get('userData.username').errors['forbiddenName']">Forbidden username</span>
                <span *ngIf="form.get('userData.username').errors['required']">Please enter a valid username!</span>
              </span>
            </div>
            <div class="form-group">
              <label for="email">email</label>
              <input
                type="text"
                id="email"
                class="form-control"
                formControlName="email"
                >
              <span
              class='help-block'
              *ngIf="form.get('userData.email').invalid && form.get('userData.email').touched"
              >
              Please enter a valid email!
              </span>
            </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              [value]="gender"
              formControlName="gender"
              >{{ gender }}
          </label>
        </div>
        <span
        class='help-block'
        *ngIf="form.invalid && form.touched"
        >
          Please enter a valid data!
        </span>
        <div class='form-group'>
          <div
          class='form-group'
          formArrayName="hobbies"
          *ngFor="let hobbyControl of form.get('hobbies').controls; let i = index"
          >
          <label>Hobby {{i + 1}}</label>
          <input class='form-control' [formControlName]="i" />
          </div>
          <button class="btn btn-info" (click)="onAddHobby()">Add new hobby</button>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
