<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" ngModel name="email" email required #email="ngModel">
          <p class="help-block" *ngFor="let key of email.errors | keys">
            <span [ngSwitch]="key" class="text-danger">
              <strong *ngSwitchCase="'required'">This field is required</strong>
              <strong *ngSwitchCase="'email'">This email is invalid</strong>
            </span>
          </p>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" ngModel name="password" required minlength="6">
        </div>
        <button class="btn btn-primary btn-block" type="submit">Login</button>
      </form>
    </div>
  </div>
