<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--<form (ngSubmit)="onSubmit(f)" #f="ngForm">-->
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username" required>
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
            <p class='help-block' *ngIf="email.invalid && email.touched">Please provide a valid email!!</p>
          </div>
        </div>
        <p class='help-block' *ngIf="userData.invalid && userData.touched">User data are invalid </p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" [ngModel]="defaultQuestion" name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class='form-group'>
          <textarea class='form-control' placeholder="Your answer" [(ngModel)]="questionAnswer" name="questionAnswer" required></textarea>
        </div>
        <p class='help-block'>Your reply: {{ questionAnswer }}</p>
        <div class='form-group'>
          <div class='radio' *ngFor="let gender of genders">
            <label>
              <input type='radio' name='gender' ngModel [value]='gender'> {{gender}}
            </label>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div *ngIf="isSubmitted">
    <p>username: {{user.username}}</p>
    <p>email: {{user.email}}</p>
    <p>question: {{user.question}}</p>
    <p>answer: {{user.answer}}</p>
    <p>gender: {{user.gender}}</p>
  </div>
</div>
