<div class="row">
  <div class="col-md-5">
    <!--<app-recipe-list (recipeSelected)="setSelectedRecipe($event)"></app-recipe-list>-->
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-7">
    <!--<app-recipe-detail *ngIf="selectedRecipe; else showInfoText" [recipe]="selectedRecipe"></app-recipe-detail>
    <ng-template #showInfoText>Please select recipe</ng-template>-->
    <router-outlet></router-outlet>
  </div>
</div>
