<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class='form-row' formGroupName="info">
    <div class='form-group col-md-4'>
        <label>Name</label>
        <input class='form-control' formControlName="name">
    </div>
    <div class='form-group col-md-4'>
      <label>Description</label>
      <input class='form-control' formControlName="description">
    </div>
    <div class='form-group col-md-4'>
      <label>ImagePath</label>
      <input class='form-control' formControlName="imagePath">
    </div>
  </div>
  <div>
    <div
    formArrayName="ingredients"
    *ngFor="let ingredient of recipeForm.get('ingredients').controls; let i = index"
    >
      <div
        [formGroupName]="i" class='form-row'
        >
        <div class='form-group col-md-6'>
          <label>Name</label>
          <input class='form-control' formControlName="name">
        </div>
        <div class='form-group col-md-6'>
            <label>Amount</label>
            <input class='form-control' formControlName="amount" type='number'>
          </div>
      </div>
    </div>
    <button class='btn btn-debug' (click)="onAddIngredient()" type='button'>Add new ingredient</button>
  </div>
  <div class='btn-group-justified'>
    <div class='btn-group'>
      <button class="btn btn-primary" type="submit">Add Recipe</button>
    </div>
  </div>
</form>
