<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!--<li><a (click)="changeRoute('recipe')">Recipes</a></li>
        <li><a (click)="changeRoute('shopping')">Shopping List</a></li>-->
        <li routerLinkActive='active'><a routerLink='recipes'>Recipes</a></li>
        <li routerLinkActive='active'><a routerLink='shopping-list' >Shopping list</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropDown>
          <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
