<div class="row">
  <div class="col-xs-12">
    <!-- Reactive Approach

    <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" #ingredientName formControlName="name">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" #ingredientQuantity formControlName="amount">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="ingredientForm.invalid">Add</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  -->

  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="row">
      <div class="col-sm-5 form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" #ingredientName ngModel name="name" required>
      </div>
      <div class="col-sm-2 form-group">
        <label for="amount">Amount</label>
        <input type="number" id="amount" class="form-control" #ingredientQuantity ngModel name="amount" required min="0">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success" type="submit" [disabled]="form.invalid">
          {{ editMode === true ? 'Update' : 'Add' }}
        </button>
        <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
        <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
      </div>
    </div>
  </form>
  </div>
</div>
