<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd; else onlyEven">
            <li
            class="list-group-item"
            *ngFor="let number of oddNumbers"
            [ngClass]="{odd: number % 2 !== 0}"
            [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'purple' : 'transparent'}">
              {{ number }}
            </li>
        </div>
        <!--<ng-template #onlyEven>
            <div>
                <li
                class="list-group-item"
                *ngFor="let number of evenNumbers"
                [ngClass]="{odd: number % 2 !== 0}"
                [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'purple' : 'transparent'}">
                  {{ number }}
                </li>
            </div>
        </ng-template> -->
        <div *appUnless="onlyOdd">
          <li
          class="list-group-item"
          *ngFor="let number of evenNumbers"
          [ngClass]="{odd: number % 2 !== 0}"
          [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'purple' : 'transparent'}">
            {{ number }}
          </li>
      </div>

      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
    </div>
  </div>
</div>
<p appBasicHighlight>
  style me with directive
</p>
<p [appBetterHighlight]="'purple'" [defaultColor]="'green'">Style me with better highlighting</p>
<div [ngSwitch]="value">
  <p *ngSwitchCase="5">5</p>
  <p *ngSwitchCase="10">10</p>
  <p *ngSwitchCase="100">100</p>
  <p *ngSwitchDefault>Others</p>
</div>
