<div class="row">
  <div class="col-xs-12">
    <a routerLink='new' class="btn btn-success">New Recipe</a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let recipeElement of recipes; let id = index"
    [recipe]="recipeElement"
    [id]="id"
    (click)="onRecipeSelected(recipeElement)"></app-recipe-item>
  </div>
</div>

